
//******************************************************//
//******************** BREAKPOINTS **********************//
//******************************************************//
$breakpoint-md: 760px;
$breakpoint-l: 1100px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 3840px;